<div class="content-container">

    <div class="view-header">
      <h1>Normalizacja danych</h1>
      <div class="selector-field">
        <label for="numericMethod">Metoda normalizacji:</label>
        <select id="numericMethod" [(ngModel)]="numericMethod" name="numericMethodSelector">
          <option *ngFor="let option of availableMethods" [value]="option">{{ option }}</option>
        </select>
        <button type="button" class="material-symbols-outlined info-button" data-toggle="tooltip" data-place="left"
          [title]="infoText1">info</button>
      </div>
    </div>

    <div *ngIf="normalizedData" class="table-container" @listAnimation>
      <table>
        <thead>
          <tr>
            <th>Row</th>
            <ng-container *ngFor="let column of normalizedData.columns">
              <th>{{ column }}</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of normalizedData.data; let rowIndex = index">
            <td>{{ rowIndex + 1 }}</td>
            <ng-container *ngFor="let cell of row">
              <td>{{ cell }}</td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="!normalizedData" class="error-label">
      <h3>Loading...</h3>
    </div>

    <div class="action-field">
      <button *ngIf="hasNumericMethodChanged()" (click)="loadNormalizedData()" type="button" 
        class="btn btn-primary action-button action-button-highlight" title="Odśwież dane">
        <div class="material-symbols-outlined action-button-inner">refresh</div>
      </button>
    </div>
    
</div>