.selector-field {
    height: auto;
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selector-field label {
    margin: 0 10px 0 0;
    font-size: 18px;
    color: #333333;
}

.selector-field select {
    width: 200px;
    padding: 5px;
    border: 1px solid #1e90ff;
    border-radius: 5px;
    background-color: #f0f8ff;
    color: #333333;
    font-size: 16px;
    cursor: pointer;
}

.selector-field .info-button {
    margin-left: 5px;
}

.table-container {
    max-height: 730px;
}

.error-label {
    padding: 340px 0;
}