<div class="dataVisualizer">
    <div class="data-header">
        <div class="title-field">
            <h1>Wizualizacja danych</h1>
            <h4 *ngIf="data">(Wybrano {{data.data.length}} z {{data.length}} rekordów)</h4>
        </div>
        <div class="input-field">
            <div class="outer-input">
              <input type="text" [formControl]="inputValue" placeholder="Podaj zakres danych do wyświetlania"
                class="form-control inner-input" [ngClass]="{'inner-input-invalid': inputErrorFlag}" >
              <button type="button" class="material-symbols-outlined info-button" data-toggle="tooltip" data-place="left"
                [title]="infoText">info</button>
            </div>
            <!-- <button type="button" class="btn btn-primary material-symbols-outlined refresh-button" (click)="onRefresh()">
              <div class="material-symbols-outlined">refresh</div>
            </button> -->
          </div>
    </div>
    <div *ngIf="data" class="dataVisualizerTable" @listAnimation>
        <table>
          <thead>
            <tr>
              <th>Row</th>
              <ng-container *ngFor="let column of data.columns; let idx = index">
                <th>
                  {{ column }}
                  <button *ngIf="featureLabels && featureLabels[idx].featureType != noneType" type="button" class="btn" 
                    [ngClass]="{'btn-danger': featureLabels[idx].isNumeric(), 'btn-info': featureLabels[idx].isCategorical(),
                                'highlighted-button': isTypeMismatch(idx)}"
                    (click)="featureLabels[idx].switchType()">
                    {{featureLabels[idx].caption}}
                  </button>
                </th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of data.data; let rowIndex = index">
              <td>{{ rowIndex + 1 }}</td>
              <ng-container *ngFor="let cell of row; let cellIndex = index">
                <td>{{ cell }}</td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    <button *ngIf="isDataChanged()" (click)="updateData()" type="button" class="btn btn-primary save-button" title="Zapisz zmiany">
        <div class="material-symbols-outlined save-button-inner">upload</div>
    </button>
    <div *ngIf="!data">
        <p>Loading...</p>
    </div>
</div>

  
