.error-label {
    padding: 340px 0;
}


/* -----------------
   Table area styles 
   ----------------- */

.table-area {
    width: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-container {
    width: 90%;
    height: 140px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.input-row {
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-row label {
    margin: 0 15px 0 0;
    font-size: 16px;
    color: #333333;
}

.input-row select {
    width: 200px;
    padding: 5px;
    border: 1px solid #1e90ff;
    border-radius: 5px;
    background-color: #f0f8ff;
    color: #333333;
    font-size: 14px;
    cursor: pointer;
}

.input-row input {
    width: 60px;
    height: 46px;
    font-size: 14px;
}

.input-row .info-button {
    margin-left: 10px;
}

.input-main {
    width: 100%;
    padding: 20px 5px;
    border-bottom: 3px groove rgba(0, 0, 0, 0.651);
}

.input-main .input-row label {
    font-size: 20px;
}

.input-main .input-row select {
    font-size: 16px;
}

.input-secondary {
    padding: 12px 5px;
    display: flex;
    flex-direction: row;
}

.table-container {
    height: 500px;
}

.table-area .action-button {
    position: absolute;
    top: 705px;
    right: 28px;
    z-index: 2;
}

.table-area .action-button-inner {
    font-size: 36px;
}


/* -----------------
   Stats area styles 
   ----------------- */

.stats-area {
    max-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plot-container {
    margin-bottom: 40px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
}

.plot-container button {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.plot-container img {
    width: 700px;
    height: 580px;
}

.stats-container {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.stat-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.stat-row:first-child {
    margin-bottom: 10px;
    border-bottom: 2px groove rgba(0, 0, 0, 0.651);
}

.stat-row h3 {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.23);
}

.stat-row p {
    font-size: 18px;
    margin: 0;
}

.metric-name-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.metric-name-row p {
    font-style: italic;
}

.metric-name-row button {
    font-size: 18px;
}

.label-red {
    color: red;
}

.label-orange {
    color: orange;
}

.label-green {
    color: rgb(130, 255, 47);
}

.label-blue {
    color: rgb(0, 204, 255);
}


/* --------------------
   Download menu styles 
   -------------------- */

.download-menu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 255, 255, 0.849);
    z-index: 3;
}

.download-menu h1 {
    margin-bottom: 40px;
}

.download-menu button {
    width: 350px;
    height: 60px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.download-menu button:last-child {
    width: 120px;
    height: 50px;
    margin-top: 20px;
}