.navbar {
    background-color: #1e90ff;
    padding: 0.75rem 1.5rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-field {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.navbar-brand {
    font-size: 1.6em; 
    font-weight: bold;
    margin-right: 0.5rem;
}

.nav-icon {
    font-size: 2.2em;
    color: white;
    user-select: none;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
    color: white;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba%28255, 255, 255, 0.5%29" stroke-width="2" linecap="round" linejoin="round" d="M4 7h22M4 15h22M4 23h22"/></svg>');
}

.navbar-nav {
    margin-left: auto;
    align-items: center;
}

.nav-item {
    margin-left: 0.4em;
    margin-right: 0.4em;
}

.nav-link {
    min-width: 6.5em; 
    font-size: 1.3em; 
    font-weight: bold;
    color: white;
    transition: color 0.3s, background-color 0.3s;
    padding: 0.5rem 1rem; 
    border-radius: 0.25rem;
}

.nav-link:hover {
    color: #1e90ff;
    background-color: white;
}

.active {

    border-radius: 0.25rem;
}

.disabled {
    color: rgb(68, 67, 67) !important;
    pointer-events: none;

}
