.pca-content {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.error-label {
    padding: 340px 0;
}


/* -----------------
   Table area styles 
   ----------------- */

.table-area {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-field {
    display: flex;
    flex-direction: row;
}

.title-field .info-button {
    margin-left: 10px;
}

.input-field {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-field label {
    margin: 0 15px 0 0;
    font-size: 18px;
    color: #333333;
}

.input-field input {
    width: 62px;
    height: 52px;
    font-size: 16px;
}

.enriched-table-container h3 {
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.13);
}

.enriched-table-container:nth-child(2) {
    height: 150px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.enriched-table-container:nth-child(3) {
    height:500px;
    margin-bottom: 0;
}

.table-container {
    max-height: 440px;
}


/* ----------------
   Plot area styles 
   ---------------- */

.plot-area {
    max-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
}

.plot-container {
    position: relative;
}

.plot-container button {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.plot-area img {
    width: 700px;
    height: 680px;
}

.plot-changer {
    width: 400px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plot-changer button {
    font-size: 36px;
    font-weight: bold;
    padding: 0px 8px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

.plot-loading-label {
    width: 680px;
    padding: 330px 0;
    text-align: center;
}