<div class="content-container">

    <div *ngIf="pcaData" class="pca-content">

        <div class="table-area">

            <div class="view-header">
                <div class="title-field">
                    <h1>Składowe główne</h1>
                    <button type="button" class="material-symbols-outlined info-button" data-toggle="tooltip" data-place="left"
                        [title]="infoText1">info</button>
                </div>
                <div class="input-field">
                    <label for="noComponents">Liczba składowych:</label>
                    <input id="noComponents" type="number" [(ngModel)]="noComponents" class="form-control"
                      [ngClass]="{'input-error': inputErrorFlag}">
                </div>
            </div>
            
            <div class="enriched-table-container">
                <h3>Składowe</h3>
                <div class="table-container">
                    <table>
                      <thead>
                        <tr>
                          <th>Składowa</th>
                          <ng-container *ngFor="let column of pcaData.columns">
                            <th>{{ column }}</th>
                          </ng-container>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>Wariancja</td>
                            <ng-container *ngFor="let cell of pcaData.variances">
                                <td>{{ cell }}</td>
                            </ng-container>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>

            <div class="enriched-table-container">
                <h3>Dane po transformacji</h3>
                <div class="table-container">
                    <table>
                      <thead>
                        <tr>
                          <th>Row</th>
                          <ng-container *ngFor="let column of pcaData.columns">
                            <th>{{ column }}</th>
                          </ng-container>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of pcaData.data; let rowIndex = index">
                            <td>{{ rowIndex + 1 }}</td>
                            <ng-container *ngFor="let cell of row">
                                <td>{{ cell }}</td>
                            </ng-container>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div *ngIf="plotImage" class="plot-area">
            <div class="plot-container">
                <img [src]="plotImage" alt="Wykres PCA">
                <button type="button" class="btn btn-light material-symbols-outlined" (click)="saveImage()">download</button>
            </div>
            <div class="plot-changer">
                <button type="button" class="btn btn-light material-symbols-outlined" (click)="prevPlot()">chevron_left</button>
                <button type="button" class="btn btn-light material-symbols-outlined" (click)="nextPlot()">chevron_right</button>
            </div>
        </div>

        <div *ngIf="!plotImage" class="plot-loading-label">
            <h3>Ładowanie wykresu...</h3>
        </div>

    </div>

    <div *ngIf="!pcaData" class="error-label">
        <h3>Ładowanie...</h3>
    </div>

    <div class="action-field">
        <button *ngIf="hasNoComponentsChanged()" (click)="refreshData()" type="button" 
          class="btn btn-primary action-button action-button-highlight" title="Odśwież dane">
          <div class="material-symbols-outlined action-button-inner">refresh</div>
        </button>
    </div>

</div>